@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
