@keyframes wiggle {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-30%); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(-30%); }
  100% {
    transform: translateX(0); } }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif;
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.login-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #9f9f9f;
  z-index: 1000; }
  .login-box h3 {
    font-size: 2rem; }
  .login-box i {
    font-size: 3rem;
    margin-left: 1.5rem;
    transition: color 0.25s; }

.login-box-hide {
  opacity: 0;
  pointer-events: none; }

.callendar-unactive {
  opacity: 0.3 !important;
  pointer-events: none !important; }

.active {
  opacity: 1 !important; }

.btn {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.25s; }
  .btn:hover, .btn:focus {
    transform: scale(1.05); }

.btn-login {
  background-color: #1a73e8;
  color: #fff; }
  .btn-login:hover i,
  .btn-login:focus i {
    color: #1be009; }

.wrapper {
  width: 900px;
  height: 500px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.habbit-insert-box {
  width: 50%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 3.8rem;
  transition: opacity 0.5s; }
  .habbit-insert-box h3 {
    font-size: 1.2rem;
    font-weight: 900; }
  .habbit-insert-box input {
    font-size: 1.8rem;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); }
  .habbit-insert-box .input-label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 42rem; }
    .habbit-insert-box .input-label > *:not(input) {
      opacity: 0; }
    .habbit-insert-box .input-label .error-info {
      color: #ff0000;
      font-size: 1.1rem;
      font-weight: 900;
      margin-top: 0.5rem;
      pointer-events: none; }
    .habbit-insert-box .input-label .error-arrow {
      position: absolute;
      font-size: 4rem;
      color: rgba(255, 0, 0, 0.5);
      right: 0;
      animation: wiggle 5s infinite; }

.habbit-proggres {
  position: relative;
  padding: 0;
  width: 100%;
  height: 37rem;
  display: flex; }
  .habbit-proggres__calendar-wrapper {
    position: relative;
    margin: auto;
    width: 83rem;
    height: 38rem;
    overflow: hidden; }
  .habbit-proggres__calendar {
    position: absolute;
    width: 324.8rem;
    display: flex;
    padding: 0.3rem;
    transition: transform 0.5s; }
    .habbit-proggres__calendar *:not(.circle) {
      transition: opacity 0.5s; }

.month {
  width: 250px; }
  .month:not(:last-child) {
    margin-right: 3.7rem; }
  .month__header {
    width: 22.2rem;
    height: 5rem;
    padding: 0 1.4rem;
    background-color: #9f9f9f;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .month__header-name {
      font-size: 2rem; }
    .month__header-proggres {
      align-self: flex-end;
      margin-bottom: 0.5rem; }
  .month__days-list {
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding: 0; }
    .month__days-list-item {
      width: 230px;
      height: 4rem;
      background: #e6e6e6;
      border-radius: 3px;
      font-size: 2rem;
      line-height: 4rem;
      display: flex; }
      .month__days-list-item:not(:last-child) {
        margin-bottom: 1.2rem; }
      .month__days-list-item *:first-child {
        margin-left: 1rem; }

.day-tag {
  color: #9f9f9f;
  margin-right: auto; }

.circle {
  width: 29px;
  height: 29px;
  margin-right: 1rem;
  align-self: center;
  background-color: #9f9f9f;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9f9f9f;
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  box-shadow: inset 0 0 5px #000;
  border-radius: 3px; }

.prev,
.next {
  width: 2rem;
  height: 2.5rem;
  position: absolute;
  top: 4%;
  border: none;
  background-color: #e6e6e6;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
  transition: background-color 0.25s;
  cursor: pointer; }
  .prev:hover,
  .next:hover {
    background-color: #9f9f9f; }

.prev {
  left: 1.3rem; }

.next {
  right: 1.3rem;
  transform: rotate(180deg); }
